
.projectCard{
       
        width: 280px;
        height: 320px;
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;
        border: 0.5px solid #555;
        
        
    

        .link{

            
            text-decoration: none;

            img{
            border-radius: 5px 0px 0px 0px;
            width: 100%;
            height: 70%;
            object-fit: cover;
        }

        .info{
            display: flex;
            align-items: center;
            gap: 13px;
            padding: 10px;
            img{
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 50%;
            }
            .texts{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                
                
                h2{
                    font-size: 14px;
                    font-weight: 500;
                    color: black;
                }
                span{
                    font-size: 14px;
                    text-decoration: none;
                    color: black;
                    
                }
            }
        }

    
    }

}

